* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 0.5s;
}

#logo {
    height: 40px;
    width: auto;
}

#logoLink {
    margin: auto;
}

body {
    overflow-x: hidden;
    background-color: #222;
}
#navigation {
    background-color: black;
    color: white;
}

.firstLevelWrap {
    display: flex;
}

#menu {
    display: flex;
    justify-content: center;
    width: 100%;
}

h2 {
    color: white;
}

#mediaTitle {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
    max-width: 60vw !important;
}

#mediaNav {
    display: none;
    flex-wrap: nowrap;
    background-color: darkgray;
}

#mediaNav > div {
    width: 50%;
    /* padding: 15px; */
}

.button {
    color: black;
    background-color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 2px 2px 5px red;
    font-weight: 600;
}

.button img {
    margin: unset !important;
    max-height: 140px !important;
    width: auto !important;
    margin-right: 20px !important;
}

.button:not(.button:last-child) {
    margin-bottom: 50px;
}

#changelog {
    text-align: left;
    margin-top: 20px;
}

.button:hover {
    background-color: darkgrey;
}

#help {
    background-color: #ddd;
    margin: 50px;
    padding: 20px;
}

#help h3 {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#help ol {
    margin-bottom: 50px;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}

#help p {
    text-align: left !important;
}

#mediaNav > div:hover {
    width: 50%;
    background-color: midnightblue;
}

#mediaNav a {
    color: white;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-weight: 600;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    padding: 15px;
}

#favorite {
    background-color: lightyellow;
}
#favorite a {
    color: black;
}

#favorite:hover {
    background-color: yellow !important;
}

#menu li {
    width: 33%;
    text-align: center;
    list-style: none;
    /* padding: 10px; */
}

#menu li a {
    color: white;
    text-decoration: none;
    display: inline-flex;
    width: 100%;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#menu li:hover {
    background-color: red;
}

#media {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    height: 80vh;
}

#media img, #media video {
    width: auto;
    max-height: 70vh;
    margin-left: auto;
    margin-right: auto;
}

#media * {
    max-width: 100%;
    height: auto;
}

#submenu,
#subsubmenu,
#subsubsubmenu,
#subsubsubsubmenu {
    background-color: rgb(0, 0, 65);
    display: flex;
    flex-wrap: wrap;
}

#submenu a,
#subsubmenu a,
#subsubsubmenu a,
#subsubsubsubmenu a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    color: white;
    text-decoration: none;
    display: flex;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    font-size: 1.2em;
}

#submenu li,
#subsubmenu li,
#subsubsubmenu li,
#subsubsubsubmenu li {
    list-style: none;
    width: calc(33.3333333%);
    text-align: center;
    /* margin: 5px; */
}


#splashscreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    opacity: 0;
    animation-name: splash-out;
    animation-fill-mode: forwards;
    animation-duration: 5s;
}

#splashscreen img {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    max-width: 100vw;
}

#placeholderImage {
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0;
    z-index: -1;
}

#placeholderImage img {
    width: 100vw;
    height: 100vh;
}

#submenu > li:not(:nth-child(6n+1)):not(:nth-child(6n+2)):not(:nth-child(6n+3)),
#subsubmenu > li:not(:nth-child(6n+1)):not(:nth-child(6n+2)):not(:nth-child(6n+3)),
#subsubsubmenu > li:not(:nth-child(6n+1)):not(:nth-child(6n+2)):not(:nth-child(6n+3)),
#subsubsubsubmenu > li:not(:nth-child(6n+1)):not(:nth-child(6n+2)):not(:nth-child(6n+3))  {
    background-color: rgb(0, 0, 35);
}

#navigation > #submenu li:hover, .submenu li:nth-child(2n):hover,
#navigation > #subsubmenu li:hover, .subsubmenu li:nth-child(2n):hover,
#navigation > #subsubsubmenu li:hover, .subsubsubmenu li:nth-child(2n):hover,
#navigation > #subsubsubsubmenu li:hover, .subsubsubsubmenu li:nth-child(2n):hover {
    background-color: black;
}

@keyframes splash-out {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        display: none;
        z-index: -1;
    }
}