
geckodriver.log

Python/Sonstige_Uebungen/data.bak
Python/Sonstige_Uebungen/data.dat
Python/Sonstige_Uebungen/data.dir
Python/Sonstige_Uebungen/test.bin
weather.tmp
Python/Sonstige_Uebungen/.vscode/launch.json
Windows Shell/Powershell/AD_create_users_WIP.ps1.bak
