html {
    background-color: grey;
    z-index: 1;
}

.car {
    background-color: white;
    overflow: hidden;
    z-index: 1;
}

.car img {
    height: 50px;
    width: auto;
    transform: translateX(-200px);
    animation: drive 7s infinite;
    animation-timing-function: ease-in;
/*
    animation-timing-function: cubic-bezier(.8,.6,.1,1)
    cubic-bezier.com
*/
    z-index: -1;
    margin-bottom: -5px;
}

.car img:hover {
    animation-play-state: paused;
}

@keyframes drive{
    from { transform: translateX(-200px)}
    to { transform: translateX(1000%)}
}

