body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.window {
    position: absolute;
    width: 400px;
    height: 150px;
    border: 1px solid black;
    background-color: white;
    overflow: hidden;
    border-radius: 2px;
}

.windowHeader {
    border-bottom: 1px solid black;
    background-color: rgb(94, 94, 94);
    padding: 6px 10px;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    font-family: monospace;
}

#newWindowButton {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    z-index: 10001;
    position: absolute;
}

.windowButton {
    display: inline-block;
    position: relative;
    background-color: #ebebeb;
}

.windowButton:hover {
    background-color: #d7d7d7;
}

.closeButton {
    right: -175px;
}

.minimizeButton {
    right: -168px;
}

.windowContent {
    padding: 5px 10px;
    background-color: white;
}

#minimizedWindow {
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    flex-wrap: wrap;
    user-select: none;
}

#minimizedWindow * {
    user-select: none;
}

.blur {
    height: inherit;
    width: inherit;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(20px);
}