/* layout */
body {
    overflow: hidden;
}

.container {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p, h1 {
    font-size: 2em;
    color: black;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

section {
    background-color: rgba(255,255,255,0.7);
    border-radius: 25px;
    padding: 10px 15px;
    margin-bottom: 50px;
}

/* Parallax Styles */
.parallax-hintergrundbild {
    width: 100vw;
    height: auto;
}

.parallax-ebene {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 8px;
  perspective-origin: 0%;
  display: flex;
  padding: 100px;
}

.hintergrund {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  transform: translateZ(0px);
}

.vordergrund {
  margin-bottom: 50px;
  
  transform-origin: 0;
  transform: translateZ(3px) scale(0.57);
}



